extends ../layouts/main-layout.pug

block styles
	link(rel="stylesheet", href="/css/product.css")
	script(src="/js/admin.js", defer)

block content
	main
		if products.length > 0
			.grid
				each product in products
					- productId = product._id;

					article.card.product-item(id=`product_${productId}`)
						header.class__header
							h1.product__title #{ product.title }

						.card__image
							- var imageUrl = product.imageUrl;
							img(src=imageUrl, alt="Book")

						.card__content
							h2.product__price $ #{ product.price }
							p.product__description #{ product.description }

						.card__actions
							- editLink = `/admin/edit-product/` + product._id + '?edit=true';
							a(href=editLink).btn Edit

							//- input(type='hidden', value = productId, name="productId")
							button.btn(type='button', onclick='deleteProduct(this)', data-productId=productId) Delete


		else
			h1 No Products