extends ../layouts/main-layout.pug
include ../mixin/add-to-cart.pug


block content
	main.centered
		h1 #{ product.title }
		hr
		div.image
			- let imageUrl = product.imageUrl
			img(src=imageUrl, alt="Product Title")
		h2 #{ product.price }
		p #{ product.description }
		p #{ product._id }

		if isAuthanticated
			+addToCart(product._id)

